<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Plugin specification:
  https://cordova.apache.org/docs/en/latest/plugin_ref/spec.html

  May be useful:
  https://cordova.apache.org/docs/en/latest/plugin_ref/spec.html#asset
  https://cordova.apache.org/docs/en/latest/plugin_ref/spec.html#dependency

  How to handle permissions:
  https://cordova.apache.org/docs/en/latest/guide/platforms/android/plugin.html#runtime-permissions-cordova-android-500
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="wl-pay-ccr" version="0.0.0">
  <name>Credit card reader (WellnessLiving, NMI, DirectConnect)</name>
  <description>Interface for Android and iOS SDKs of NMI and Direct Connect.</description>
  <license>WellnessLiving</license>
  <keywords>NMI, Direct Connect, CardReader, CreditCard, Debit Card</keywords>

  <!--
    See
    https://cordova.apache.org/docs/en/latest/plugin_ref/spec.html#js-module
    https://cordova.apache.org/docs/en/latest/plugin_ref/spec.html#clobbers
    https://cordova.apache.org/docs/en/latest/plugin_ref/spec.html#merges
    https://cordova.apache.org/docs/en/latest/plugin_ref/spec.html#runs
  -->
  <js-module src="www/Wl_Pay_Ccr.js" name="Wl_Pay_Ccr">
    <clobbers target="Wl_Pay_Ccr" />
  </js-module>

  <!--
    Allowed values for platform.name:
    ios, android, blackberry10, amazon-fireos, wp8, windows.

    See
    https://cordova.apache.org/docs/en/latest/plugin_ref/spec.html#platform
  -->
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="Wl_Pay_Ccr">
        <param name="android-package" value="org.apache.cordova.plugin.Wl_Pay_Ccr"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <!--
      The following list should correspond union of all permissions defined by all implementations if
      org.apache.cordova.plugin.Wl_Pay_Ccr_Abstract.permissionList()
      -->

      <!--
      Comments contain information about libraries that require this permission:
      nmi -> NMI
      dc -> DCMobileSDK.aar
      dc-idt -> DCMobileSDK-IDT.aar
      -->
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- dc-idt -->
      <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- dc, dc-idt -->
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- dc, dc-idt -->
      <uses-permission android:name="android.permission.INTERNET" /> <!-- nmi, dc-idt -->
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- dc-idt -->
      <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- nmi, dc-idt -->
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- dc-idt -->
      <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- nmi, dc-idt -->
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- nmi, dc-idt -->

      <!-- Required by  android.permission.RECORD_AUDIO -->
      <uses-feature android:name="android.hardware.microphone" android:required="false" />
      <!-- Required by DCMobileSDK-IDT.aar -->
      <uses-feature android:name="android.hardware.usb.host" />
    </config-file>

    <framework src="src/android/android.gradle" custom="true" type="gradleReference"/>
    <resource-file src="src/android/nmi/payment-gateway.aar" target="libs/nmi.aar"/>
    <resource-file src="src/android/dc/DCMobileSDK.aar" target="libs/dc-sdk.aar"/>
    <resource-file src="src/android/dc/DCMobileSDK-IDT.aar" target="libs/dc-idt.aar"/>
    <resource-file src="src/android/dc/DCMobileSDK-Miura.aar" target="libs/dc-miura.aar"/>
    <resource-file src="src/android/dc/Lib-Miura-SDK.aar" target="libs/dc-miura-lib.aar"/>

    <source-file src="src/android/org/apache/cordova/plugin/Wl_DeviceSid.java" target-dir="src/org/apache/cordova/plugin" />
    <source-file src="src/android/org/apache/cordova/plugin/Wl_Pay_Ccr.java" target-dir="src/org/apache/cordova/plugin" />
    <source-file src="src/android/org/apache/cordova/plugin/Wl_Pay_Ccr_Abstract.java" target-dir="src/org/apache/cordova/plugin" />
    <source-file src="src/android/org/apache/cordova/plugin/Wl_Pay_Ccr_DirectConnect.java" target-dir="src/org/apache/cordova/plugin" />
    <source-file src="src/android/org/apache/cordova/plugin/Wl_Pay_Ccr_Nmi.java" target-dir="src/org/apache/cordova/plugin" />
    <source-file src="src/android/org/apache/cordova/plugin/Wl_UserException.java" target-dir="src/org/apache/cordova/plugin" />
    <source-file src="src/android/org/apache/cordova/plugin/Wl_ProcessorSid.java" target-dir="src/org/apache/cordova/plugin" />
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Wl_Pay_Ccr">
        <param name="ios-package" value="Wl_Pay_Ccr"/>
      </feature>
    </config-file>
    <header-file src="src/ios/Wl_DeviceSid.h" />
    <header-file src="src/ios/Wl_Pay_Ccr.h" />
    <source-file src="src/ios/Wl_Pay_Ccr.m" />
    <header-file src="src/ios/Wl_Pay_Ccr_Abstract.h" />
    <source-file src="src/ios/Wl_Pay_Ccr_Abstract.m" />
    <header-file src="src/ios/Wl_Pay_Ccr_Nmi.h" />
    <source-file src="src/ios/Wl_Pay_Ccr_Nmi.m" />
    <header-file src="src/ios/Wl_Pay_Ccr_DirectConnect.h" />
    <source-file src="src/ios/Wl_Pay_Ccr_DirectConnect.m" />
    <source-file src="src/ios/Wl_ProcessorSid.h" />
    <source-file src="src/ios/Wl_UserException.h" />
    <source-file src="src/ios/Wl_UserException.m" />
    <header-file src="src/ios/nmi/PGMobileSDK" />

    <framework src="AudioToolbox.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="ExternalAccessory.framework" />
    <framework src="MediaPlayer.framework" />
    <framework src="Security.framework" />
    <framework src="CoreBluetooth.framework" />
    <framework src="libstdc++.6.0.9.dylib" />
    <source-file src="src/ios/nmi/PGMobileSDK.a" framework="true" />

    <header-file src="src/ios/dc/include" />
    <!-- This library must not be included because is already included for MNI. -->
    <!--<source-file src="src/ios/dc/lib/IDTECH_UniMag.a" framework="true" />-->
    <source-file src="src/ios/dc/lib/libBTMagSDK.a" framework="true" />
    <source-file src="src/ios/dc/lib/libDCMobileSDK.a" framework="true" />
    <source-file src="src/ios/dc/lib/libDCMobileSDK-IDT.a" framework="true" />
    <!-- Miura is rejected by Apple -->
    <!--<source-file src="src/ios/dc/lib/libDCMobileSDK-Miura.a" framework="true" />-->
    <!--<source-file src="src/ios/dc/lib/libMiuraSdk.a" framework="true" />-->
  </platform>
</plugin>